# ========================
# Variables de entorno
# MCASB Data Pipeline
# ========================

# PostgreSQL (Landing Zone)
PG_USER=admin
PG_PASSWORD=admin123
PG_DB=landing_zone

# ClickHouse (Warehouse OLAP)
CH_USER=admin
CH_PASSWORD=admin123
CH_DB=warehouse

# Airflow
AIRFLOW_UID=50000
